{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["@react-native-community", "airbnb-typescript", "prettier"],
    "parserOptions": {
        "project": ["./tsconfig.json"],
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "react/react-in-jsx-scope": 0,
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off",
        "react/no-unstable-nested-components": [
            "off",
            {
                "allowAsProps": true
            }
        ]
    }
}
